@font-face {
  font-family: "storytella";
  src: url(../Storytella.woff2);
}
body {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* .slick-track {
  max-width: 100% !important;
} */

/* header */
.main-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header-items {
  color: #928e87;
  font-size: 0.8rem;
}

.phone-no {
  text-decoration: underline;
  cursor: pointer;
}

.phone-no:hover {
  text-decoration: none;
}

.face-insta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 4rem;
  color: #aaa;
}
.fa-facebook-f {
  font-size: 1rem;
}
.fa-facebook-f:hover {
  color: #c19473;
}

.fa-instagram {
  font-size: 1rem;
}

.fa-instagram:hover {
  color: #c19473;
}

.border-bottom {
  border-bottom: 1px solid #928e87;
}

/* navigation-bar */

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.main-nav-head {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide-two {
  display: none;
}

.nav-head {
  display: flex;
  flex-direction: column;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.fa-bars {
  display: none;
}

.bag-sign {
  word-spacing: 1rem;
  position: relative;
}
.cart-num {
  display: none;
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 0.7rem;
  background: #c19473;
  color: white;
  border-radius: 50%;
  padding: 0.2rem;
  height: 1.3rem;
}

.price::before,
.total-price::before,
.product-price::before,
.total-num::before,
.delivery-num::before,
.vat-num::before,
.sub-num::before {
  content: "$";
  font-weight: 600;
}

li.nav-items {
  text-transform: capitalize;
}

.nav-items {
  color: #555;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.nav-items:hover {
  color: #c19473;
  font-weight: 600;
}
.subnav-items {
  text-transform: uppercase;
}

.subnav-items:hover {
  border-bottom: 1px solid #c19473;
}

.fa-angle-down {
  color: #c19473;
}

.fa-user-plus {
  font-size: 1.5rem;
  color: #c19473;
  cursor: pointer;
}

.fa-bag-shopping {
  font-size: 1.5rem;
  color: #c19473;
  cursor: pointer;
}

.to-buy {
  text-decoration: none;
  background-color: #c19473;
  color: #555;
  width: 10rem;
  font-size: 1rem;
  height: 3rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.to-buy:hover {
  background-color: white;
  border: 2px solid #c19473;
}

.hidden-content {
  display: none;
}

/* .reveal-btn {
  display: block;
} */
/* hero-section */

.hero-section {
  position: relative;
}

.hero-one {
  background: url(../img/home_img/img_7.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  padding-left: 10rem;
}

.flexs {
  padding-top: 10rem;
}

/* .products-one {
} */

.hero-two {
  background: url(../img/home_img/img_8.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;

  justify-content: flex-end;
  padding-left: 10rem;
  padding-top: 5rem;
}

.head-two {
  text-align: center;
}
.para-two {
  text-align: center;
}

.products-two {
  display: flex;
  justify-content: center;
}
.hero-three {
  background: url(../img/home_img/img_9.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;

  padding-left: 10rem;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.head-three {
  text-align: center;
}
.para-three {
  text-align: center;
}
.products-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-size {
  font-size: 4.688rem;
  color: white;

  line-height: 6rem;
}
.bold-white {
  font-weight: bolder;
}

.para-size {
  font-size: 1rem;
  color: white;
  margin-top: 3rem;
}
.pro-size {
  font-size: 0.813rem;
  color: white;
  border: 1px solid #c19473;
  width: 13rem;

  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-weight: 600;
  margin-top: 2rem;
}

.pro-size:hover {
  background: #c19473;
}

.right {
  background-color: white;
  border: 1px solid white;
  width: 4.063rem;
  height: 4.063rem;
  border-radius: 50%;
  font-size: 2rem;
  position: absolute;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 16rem;
  cursor: pointer;
}

.left {
  background-color: white;
  border: 1px solid white;
  width: 4.063rem;
  height: 4.063rem;
  border-radius: 50%;
  font-size: 2rem;
  position: absolute;
  top: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  cursor: pointer;
}

.banners {
  display: grid;
  grid-template-columns: 31% 31% 31% 0%;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.banners-two {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  margin-top: 4rem;
}

.banners-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.banners-decs {
  font-size: 0.9rem;
  color: #666;
}

.inner-banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* footer */
.bg-gray-800 {
  background-color: #333 !important;
}
.text-gray-300 {
  color: #aaa !important;
  font-size: 0.8rem !important;
}

.color-change {
  color: #c19473;
}

.submit {
  color: white;
  font-size: 0.8rem;
  border: 1px solid #c19473;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-weight: 600;
}

.submit:hover {
  color: #333;
  background-color: #c19473;
}

.submit-two {
  color: #333;
  font-size: 0.8rem;
  border: 1px solid #c19473;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-weight: 600;
}

.submit-two:hover {
  color: #333;
  background-color: #c19473;
}

.submit-input {
  background-color: transparent;
  font-size: 1rem;
  border-bottom: 1px solid white;
  width: 20rem;
}

.submit-input-two {
  border-bottom: 1px solid grey;
  width: 20rem;
  background-color: transparent;
  font-size: 1rem;
}

.invest {
  color: green;
}

.footed {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  align-items: center;
}

.back {
  background: antiquewhite;
}

.fa-3x {
  font-size: 2rem !important;
}

.footer-items:hover {
  color: #c19473;
}
/* products */
.products-heading {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-top: 8rem;
  padding-left: 8rem;
}

.banners-three {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: center;
  margin-top: 5rem;
}

.fixed {
  position: absolute;
  left: 39rem;
}
.product-one {
  justify-content: center;
  margin-top: 4rem;
}

.product-image {
  width: 50% !important;
}

.product-title {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.reveal-btn {
  display: none;
}
.product-type {
  font-size: 0.8rem;
  color: #666666;
}

.product-price {
  font-size: 1.3rem;
  font-weight: bolder;
}

.product-div {
  /* border: 1px solid #666666; */
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.product-div:hover {
  box-shadow: 10px 10px 10px 5px #c19473;
}

.heading-two {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.more-info {
  border: 1px solid #c19473;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

.more-info:hover {
  background-color: #c19473;
}

.logo-two {
  width: 20%;
}

.fruits-div {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}

.fruit-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
  font-weight: 600;
  color: #333333;
}
.product-two {
  padding: 8rem 0 8rem 0;
  display: grid;
  grid-template-columns: 25% 65%;
  align-items: center;
  justify-content: center;
}

.product-three {
  padding: 8rem 0 8rem 0;
  display: grid;
  grid-template-columns: 25% 65%;
  align-items: center;
  /* justify-content: center; */
}

.fped {
  font-size: 8rem;
  text-align: center;
  font-family: storytella;
}

.fresh {
  color: #ff6262;
}

.producted {
  color: #635729;
}

.every {
  color: #ffbb4c;
}

.day {
  color: #5e9a4b;
}

.slash {
  color: #c19473;
}

.add-to-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
  border: 1px solid #c19473;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* .add-to-cart:hover {
  background-color: #c19473;
} */

.shop {
  color: #c19473;
}

.fruits-vegetable {
  margin-top: 8rem;
}
.h-one {
  font-size: 3rem;
  font-weight: bolder;
  color: #333333;
}

.h-two {
  font-size: 3.2rem;
  font-weight: 100;
  color: #333333;
}

.para-one {
  font-size: 1.2rem;
  color: #b3b3b3;
  margin-top: 2rem;
}

.f-v-products {
  display: grid;
  grid-template-columns: 55% 45%;
  justify-content: center;
  align-items: center;
}

.main-f-v {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}
.main-f {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  gap: 1.5rem;
}

.f-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-two {
  background: url(../img/agro_2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.product-image-two {
  width: 70%;
}

/* .product-image-three {
  width: 80%;
} */

/* zoomimage */
.container {
  display: inline-block;

  overflow: hidden; /* clip the excess when child gets bigger than parent */
}
.container img {
  display: block;
  transition: transform 0.4s; /* smoother zoom */
}
.container:hover img {
  transform: scale(1.1);
  transform-origin: 50% 50%;
  /* border-radius: 1rem; */
}
.color {
  color: #333333;
}

.readymeals {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.readymeals-sub {
  background: #fff2eb;
  width: 50%;
}

.ang-para {
  color: #b3b3b3;
}

.review {
  background: url(../img/review_bg_1.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}

.quotes {
  padding-left: 14rem;
  margin-top: 4rem;
  padding-top: 2rem;
}

.quote-para {
  font-family: "Times New Roman";
  color: #696248;
  font-style: italic;
}
.name {
  color: #333333;
}
.img-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  padding-top: 2rem;
}

.name-s {
  color: #adadad;
}

.coma {
  color: #c19473;
  font-size: 3rem;
}

.video {
  margin-top: 8rem;
}

.video-blog {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  gap: 2rem;
  justify-content: center;
  margin-top: 4rem;
  padding-bottom: 4rem;
}
.color-three {
  color: #666666;
}

.v-one {
  color: #ddc051;
  font-size: 0.8rem;
  padding-top: 1rem;
}

.v-two {
  font-size: 1.5rem;
  font-weight: 600;
}

.v-two:hover {
  color: #c19473;
}

.v-three {
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #666666;
}
.date {
  background-color: #c19473;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.5rem;
  height: 4rem;
  border-radius: 0.1rem;
  position: absolute;
  top: 0;
}
.zero {
  font-size: 1.4rem;
}
.num {
  font-size: 1.5rem;

  word-spacing: -7px;
}
.relative {
  position: relative;
}
.may {
  color: #565147;
}
.content {
  font-size: 0.813rem;
  color: #333333;
  border: 1px solid #c19473;
  /* width: 10rem; */

  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-weight: 600;
  margin-top: 2rem;
}

.content:hover {
  background: #c19473;
}

.partners {
  display: grid;
  grid-template-columns: 10% 15% 10% 15% 15%;
  gap: 2rem;
  justify-content: center;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

@media screen and (min-width: 1170px) {
  .reveal-btn {
    display: none;
  }
}

@media screen and (max-width: 1169px) {
  .face-insta {
    padding-left: 0;
  }
  .nav-list {
    flex-direction: column;
    gap: 1rem;
  }
  .navigation-bar {
    flex-direction: column;
    gap: 1rem;
  }
  .header {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .main-head {
    position: relative;
    justify-content: space-between;
  }
  .main-nav-head {
    display: none;
    position: absolute;
    right: 6rem;
    top: 3rem;
  }

  .hidden-content {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .reveal-btn {
    display: flex !important;
    align-items: center;
    padding-right: 4rem;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 6.5rem;
  background-color: #282828;
  color: white;
  min-width: 160px;
  padding: 1.5rem 1rem 1rem 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: white;

  background-color: #282828;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* shoppingbasket */

.shopping-basket {
  background: url(../img/intro_img/12a.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.maincart {
  background: url(../img/decor-el_1.jpg);
  background-repeat: no-repeat;
  background-size: 30vw;
}
.cart-items-heading {
  display: grid;
  grid-template-columns: 25% 15% 15% 5%;
  justify-content: center;
  font-size: 0.8rem;
  color: #adadad;
  font-weight: 800;
}

/* .cart-items {
} */
.bd-pd {
  padding-left: 10vw;
  padding-right: 10vw;
}
.border-bottom-two {
  border-bottom: 1px solid #adadad;
  opacity: 0.4;
}
.coupon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  padding-left: 8.5rem;
}
.coupon-input {
  outline: none;
  border-bottom: 1px solid #adadad;
  opacity: 0.5;
  width: 18vw;
}
.coupon-btn {
  border: 1px solid #c19473;
  width: 10rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  color: #4f4a37;
}
.coupon-btn:hover {
  background-color: #c19473;
}
.total-main {
  display: grid;
  grid-template-columns: 60% 30%;
}
.total-basket {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 4rem;
  background-color: #f9f9f9;
  padding: 1.5rem;
}
.total {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banners-four {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  position: relative;
}

.abs {
  position: absolute;
  left: 39.5rem;
}

.colored {
  color: #333333;
}

/* restobar */
.main {
  background: url(../img/home_img/home_3_bg.jpg);
  /* height: 100vh; */
}

.resto-products {
  display: grid;
  grid-template-columns: 30% 70%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 4rem;
}

.main-heading-resto {
  font-family: Storytella;
  font-size: 12rem;
  padding-left: 4rem;
}

.grill-smoked {
  /* background: url(../img/product-preview_img/11.jpg); */
  height: 83vh;
  background-repeat: no-repeat;
  position: relative;
}

.grill {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.paellas {
  /* background: url(../img/product-preview_img/12.jpg); */
  height: 30vh;
  background-repeat: no-repeat;
  position: relative;
}

.Paellas-spec {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.ceviche {
  /* background: url(../img/product-preview_img/13.jpg); */
  height: 40vh;
  background-repeat: no-repeat;
  position: relative;
}

.picadas {
  /* background: url(../img/product-preview_img/14.jpg); */
  height: 40vh;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 1rem;
}

.grid-one {
  display: grid;
  grid-template-columns: 42% 42%;
  gap: 2rem;
}

.lunch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12rem;
}

.lunch-head {
  display: flex;
  align-items: center;
  margin-left: -10rem;
}
.l-h {
  font-family: storytella;
}
.pink {
  color: #db2985;
}
.red {
  color: #fe4530;
}

.orange {
  color: #f2a137;
}

.blue {
  color: #4fb1c9;
}

.green {
  color: #72aa41;
}

.main-comp-lunch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.feature-img {
  display: grid;
  grid-template-columns: 13% 13% 12% 12% 13% 10%;
  justify-content: center;
  align-items: end;
  padding-bottom: 8rem;
}

.feature-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.bg-three {
  background: url(../img/bg_3.jpg);
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.insti {
  position: absolute;
  top: 10rem;
  left: 5rem;
}

.contact-us-btn {
  border: 1px solid #c19473;
  width: 10rem;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

.contact-us-btn:hover {
  background: #c19473;
}

.eight-grid {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  grid-template-columns: 22% 22% 22% 22%;
  position: absolute;

  bottom: -181rem;
}

.column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cocktail {
  margin-top: 30rem;
  display: grid;
  grid-template-columns: 20% 60%;
}

.cocktail-img {
  height: 70vh;
  width: 79vw;
  max-width: none;
}
.color-bg {
  background-color: #352525;

  height: 70vh;
}

.main-tail {
  position: relative;
}
.cocktail-head {
  position: absolute;
  position: absolute;
  top: 3rem;
  left: -8rem;
  font-family: storytella;
  font-size: 16rem;
}

.flex-row {
  display: flex;
  gap: 1rem;
}

.cocktail-details {
  display: grid;
  grid-template-columns: 20% 20% 20% 22%;
  justify-content: center;
  margin-top: 4rem;
}

.drinks {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  margin-top: 8rem;
  /* position: relative; */
}

.p-a {
  position: absolute;
  top: 8rem;
  left: 5rem;
}
.a-2 {
  left: 7rem;
}

.a-3 {
  left: 8rem;
}

.p-b {
  position: absolute;
  bottom: 8rem;
  left: 5rem;
}

.a-8 {
  left: 6.5rem;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
}

.drinks-two {
  background: url(../img/bg_2.jpg);
  background-attachment: fixed;
}

/* complete-catalog */

.catalog-main {
  background: url(../img/intro_img/12a.jpg);
  background-attachment: fixed;
  padding: 8rem 2rem 6rem 5rem;
}
.item-qty::before {
  content: "(";
}

.item-qty::after {
  content: ")";
}
.seek-btn {
  border: 2px solid #c19473;
  border-radius: 2rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  color: #333333;
}

.seek-input {
  border-bottom: 1px solid silver;
  outline: none;
}

.hidden-content-two {
  display: none;
}

.reveal-btn {
  display: none;
}

/* .Categories {
} */

.categories-list {
  list-style-type: circle;
}
.categories-items:hover {
  color: #c19473;
}
.banners-five {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: center;
  margin-top: 5rem;
  padding-bottom: 0.5rem;
}

.dropdown-two {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.pos {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.range-slider {
  position: relative;
  width: 200px;
  height: 35px;
  text-align: center;
}

.range-slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: 200px;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}
.range-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}
.range-slider input[type="range"]::-moz-focus-outer {
  border: 0;
}

.catalog-inputss {
  display: grid;
  grid-template-columns: 21% 68%;
  justify-content: center;
}

.products-showed {
  padding: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.Fruit-Vegetable-main {
  background: url(../img/intro_img/12b.jpg);
  background-attachment: fixed;
  padding: 8rem 2rem 6rem 5rem;
}

.meatfishvegan-main {
  background: url(../img/intro_img/12c.jpg);
  background-attachment: fixed;
  padding: 8rem 2rem 6rem 5rem;
}

.juices-main {
  background: url(../img/intro_img/12d.jpg);
  background-attachment: fixed;
  padding: 8rem 2rem 6rem 5rem;
}

.snacks-main {
  background: url(../img/intro_img/11.jpg);
  background-attachment: fixed;
  padding: 8rem 2rem 6rem 5rem;
}

.subscribe-me {
  background: #333333;
  width: 80%;
  /* height: 100vh; */
}

.outline {
  outline: none;
  border-bottom: 1px solid white;
}

.subscribe-inputs {
  display: grid;

  grid-template-columns: 20% 20%;
  row-gap: 3rem;
  column-gap: 10rem;
  justify-content: center;
}

.drop {
  background: transparent;
  border-bottom: 1px solid white;
  color: #c19473;
}

.wd {
  width: 15rem;
}

.drop-two {
  background: transparent;
  border-bottom: 1px solid white;
  width: 38.5rem;
  outline: none;
  color: #c19473;
}

.btn-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscribe-btn {
  border: 1px solid #c19473;
  width: 38.5rem;
  border-radius: 2rem;
  text-align: center;
  padding: 0.5rem;
  color: white;
}

.subscribe-btn:hover {
  background-color: #c19473;
}

.brands-logo {
  display: grid;
  grid-template-columns: 15% 15% 12% 12% 15%;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.flower {
  display: grid;
  grid-template-columns: 13% 13% 13% 13% 13% 13%;
  justify-content: center;
  align-items: center;
  padding-bottom: 8rem;
}

.main-two {
  background: url(../img/intro_img/1.jpg);
  background-attachment: fixed;
}

/* .aboutus-head {
} */
.about-paras {
  padding-top: 2rem;
}

.visit-btn {
  margin-top: 2rem;
  border: 2px solid #c19473;
  border-radius: 2rem;
  height: 3rem;
  width: 11rem;
  font-weight: 600;
}

.visit-btn:hover {
  background-color: #c19473;
}

.f-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.yellow {
  color: #ddc051;
}

.group-details {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  gap: 3rem;
  padding-top: 7rem;
  padding-bottom: 10rem;
}

.up {
  position: absolute;
  top: 16rem;
  left: 2rem;
  width: 18rem;
}

.nav-c-back {
  background: url(../img/intro_img/7.jpg);
  background-attachment: fixed;
}

.w-full {
  outline: none;
}

.silver-back {
  background: #333333;
}

.sub {
  background-color: #c19473 !important;
  border: 1px solid #c19473 !important;
}

.sub:hover {
  background-color: white !important;
  color: #c19473 !important;
}

.icon-color {
  color: #c19473;
}

.signup-main {
  background-image: url(../img/intro_img/15.jpg);
  background-attachment: fixed;
  background-position: center;
  padding: 8rem 2rem 6rem 5rem;
}

.sign {
  background: #c19473 !important;
}

.forgot {
  color: #c19473 !important;
}

.forgo {
  color: white !important;
}

.underline:hover {
  text-decoration: none;
}

.slick-dots li button:before {
  font-size: 1.5rem;
}

.carted-items {
  display: grid;
  grid-template-columns: 10% 26% 15% 13% 10% 6%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.ad-re {
  display: grid;
  grid-template-columns: 13% 12% 13%;
  gap: 0.4rem;
}

.minus:hover {
  background-color: #c19473;
  color: white;
}
.plus {
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
}

.minus {
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
}

.plus:hover {
  background-color: #c19473;
  color: white;
}

@media screen and (max-width: 480px) {
  .banners {
    grid-template-rows: 31% 31% 31%;
    grid-template-columns: none;
  }

  .banners-two {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 2rem;
  }

  .products-heading {
    padding-left: 2rem;
  }

  .banners-three {
    grid-template-columns: none;

    grid-template-rows: 50% 50%;
    gap: 0.5rem;
  }

  .product-two {
    grid-template-columns: none;
  }

  .fruits-div {
    padding-top: 4rem;
    grid-template-columns: 50% 50%;
    gap: 2rem;
  }

  .main-f-v {
    grid-template-columns: none;
  }

  .main-f {
    grid-template-columns: none;
  }

  .readymeals-sub {
    background: #fff2eb;
    width: 100%;
  }

  .readymeals-sub {
    padding-left: 0.8rem;
  }

  .meal-img {
    display: none;
  }

  .quotes {
    padding-left: 2rem;

    padding-top: 2rem;
  }

  .video-blog {
    grid-template-columns: none;

    grid-template-rows: 33% 33% 33%;
  }

  .fped {
    font-size: 5rem;
  }
  .h-one {
    font-size: 2.5rem;
  }
  .h-two {
    font-size: 2.2rem;
  }

  .para-one {
    font-size: 1rem;
  }

  .partners {
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-template-columns: none;
  }
  .head-three {
    font-size: 2.5rem;

    line-height: 3rem;
  }

  .head-two {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .head-one {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .hero-three {
    padding-top: 3rem;
    padding-left: 0;
  }

  .hero-two {
    padding-top: 3rem;
    padding-left: 0;
  }
  .hero-one {
    padding-top: 1rem;
    padding-left: 0;
  }

  .video-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 2000px) {
  .resp {
    width: 100%;
  }

  .banners-two {
    grid-template-columns: 15% 15% 15% 12%;
  }

  .product-one {
    width: 100% !important;
  }

  .product-div {
    padding: 2rem 0;
    height: auto;
    width: 80%;
  }

  .product-two {
    grid-template-columns: 15% 45%;
    padding-left: 10rem;
  }
  .fa-brands,
  .fa-solid {
    font-size: 1.7rem;
  }

  .video-img {
    width: 100%;
  }
  .main-head {
    display: grid;
    grid-template-columns: 10% 55%;
    justify-content: center;
  }
}
.page-numbers {
  display: flex;
  justify-content: center;
}
.page-numbers span {
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
}
.page-numbers span:hover {
  background-color: #c19473;
  color: black;
}
.active {
  background-color: #c19473;
  color: white;
}

.active {
  background-color: #c19473;
}
